<header>

  <div class="divHeader">
      <a href="/"> <img class="logo" src="/img/logoWhiteHome.png" alt=""></a>
  </div>

 
  <input type="checkbox" id="openModal">
  <label for="openModal" class="btnOpenModal"><p>Who I am?</p></label>


   <div class="containerModal">
          <div class="headerModal">
           <label for="openModal" class="btnCloseModal"><i class="fa-solid fa-xmark"></i></label>
          </div>

          <div class="babyModal">
            <h1 class="titleModal">Alejandro Garcia</h1>
           <p class="messageModal"> Hi, I'm Alex, an passionate Engineer with extensive experience in microcontrollers programming, basic sciences, metrology and electronics in general. I want to enter the world of web programming, software development and technologies that allow us to connect, and make our lives easier and more fun.
              Please contact me, I will be very excited to work with you...

              As a briefcase, here you can see a part of my work in music and photographs.

           </p>
        </div>
  </div>

  <div class="adressId">
      <a href="/contact"><i class="fa-solid fa-address-book"></i><p class="contact">Contact</p2></a>
  </div>

</header>