<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/contact.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Koulen&family=Orbitron:wght@500&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Koulen&family=Orbitron:wght@500&family=Roboto:wght@300&family=Splash&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/fa36d49c1a.js" crossorigin="anonymous"></script>

  <title>Contact</title>
</head>
<body>

<header>





  <div class="divHeader">
    <a href="/"> <img class="logo" src="/img/logoWhiteHome.png" alt=""></a>
  </div>





</header>

<section>

  <article class="personalInformation">

    <div class="divPersonalInformation">
          <p class="t1"> M. en C. Manuel Alejandro Garcia Andrade</p>
          <p class="t2">magarciaa92@gmail.com</p>
          <p class="t3"> +52 5561303917</p>
          <p class="t4"> Mexico city, Mexico</p>
   </div>

  </article>

  <article class="socialMedia">

  <div class="divSocialMedia">
    <a href="https://github.com/AlexDDks" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.linkedin.com/in/magarciaa92/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
  </div>

</article>

  
</section>

</body>
</html>