<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Koulen&family=Orbitron:wght@500&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Koulen&family=Orbitron:wght@500&family=Roboto:wght@300&family=Splash&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/fa36d49c1a.js" crossorigin="anonymous"></script>

    <title>Welcome</title>

</head>

<body>

    <div class="logo">
        <img src="/img/logoWhite.png" alt="">
    </div>

    <div class="adressId">
       <a href="/contact"><i class="fa-solid fa-address-book"></i><p>Contact</p></a>
    </div>

    <section class="allItems">
        <div class="welcome">
            Welcome!
        </div>

        <div class="text1">
            We know you're here for a reason
        </div>

        <div class="button1">
            <button class="divButton1" type="submit"><a href="/photos" class="textButton1">Please click here</a></button>
        </div>

        <div class="button2">
            <button class="divButton2" type="submit"><a href="/music" class="textButton2">Or here</a></button>
        </div>

        

    </section>
</body>

</html>