*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

header{
    position: relative;
    width: 50%;
    height: 50%;
    background-color: red;
}
h1{
    position: absolute;
    left: 10%;
    width:50%;
    height: 50%;
    background-color: blue;
}